.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    color: $secondary-text-color;
    background-color: #f5f4fa;

    font-family: $primary-font;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.6;
    text-align: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
      color: #ffffff;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
