.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    color: $secondary-text-color;
    background-color: #f5f4fa;

    font-family: $primary-font;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.6;
    text-align: center;

    transition: color $cubic $animation, background-color $cubic $animation,
      box-shadow $cubic $animation;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}
