.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__logotype {
    display: block;
    margin-bottom: 20px;
    @include logo(#fff, 24px);
    @media screen and (min-width: 1200px) {
      @include logo(#fff, 26px);
      text-align: start;
    }
    &__color {
      color: $accent-color;
    }
    text-align: center;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.address {
  margin-bottom: 8px;

  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.contacts {
  &__link {
    display: block;

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      text-align: start;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__item {
    &:last-child {
      margin-top: 8px;
    }
  }
}

.footer-nav {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-social {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.social-links__link {
  &--color {
    fill: #ffffff;
  }

  &--bgc {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.form-subscribe {
  &__input {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: transparent;

    text-indent: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      min-width: 450px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }

    &:focus {
      outline: none;
      color: $secondary-text-color;
      background-color: #ffffff;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0 auto;
  }

  &__icon {
    margin-left: 10px;
    fill: #fff;
  }
}
