.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__logotype {
    display: block;
    margin-bottom: 20px;
    @include logo(#fff);
    &__color {
      color: $accent-color;
    }
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.footer-nav {
  margin-right: 98px;
}

.address {
  margin-bottom: 9px;

  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contacts {
  &__link {
    display: block;

    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;

    transition: color $cubic $animation;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contacts__item {
  &:last-child {
    margin-top: 9px;
  }
}

.footer-social {
  margin-right: 93px;
}

.social-links__link {
  &--color {
    fill: #ffffff;
  }

  &--bgc {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.social-links__icon--color {
  fill: #ffffff;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    min-width: 358px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 12px;

    background-color: transparent;

    text-indent: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:focus {
      outline: none;
      color: $secondary-text-color;
      background-color: #ffffff;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  &__icon {
    margin-left: 10px;
    fill: #fff;
  }
}
