.header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.logotype {
  @include logo(#000);
  transition: text-decoration $cubic $animation;

  &:hover,
  &:focus {
    text-decoration: underline $accent-color;
  }

  &__color {
    color: $accent-color;
  }
}

.nav-box {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    margin-left: 93px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-box__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include link($secondary-text-color);

  transition: color $cubic $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.contacts-box {
  display: flex;
  margin-left: auto;

  &__item:last-child {
    margin-left: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts-box__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  @include link($primary-text-color);

  transition: color $cubic $animation, fill $cubic $animation;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
