.hero {
  background: #2f303a;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bckg-img.jpg);
  max-width: 1600px;
  max-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    max-width: 696px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 32px;
    margin-top: 30px;
  }
}
