.works {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__link {
    display: block;
    transition: box-shadow $cubic $animation;
  }

  &__description {
    padding: 20px 24px;

    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }

  &__title {
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $primary-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  transform: translateY(100%);
  height: 100%;

  transition: transform $animation linear;

  &__text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #ffffff;
  }

  .works__item:hover &,
  .works__item:focus & {
    transform: translateY(0);
  }
}

.works-thumb {
  position: relative;
  overflow: hidden;
}
