.team-list {
  display: flex;
}

.team-list__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.heading {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 10px;

    color: $secondary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__description {
    margin-bottom: 16px;

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
