.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;

    color: $secondary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    &--visually-hidden {
      position: absolute;
      clip: rect(0 0 0 0);
    }
  }

  &--background {
    background-color: #f5f4fa;
  }

  &--top {
    padding-bottom: 0;
  }
}
